.line-slider {
  position: relative;
  cursor: pointer;
  width: 100%;
  z-index: 4;
  display: flex;
  flex-flow: column;
  justify-content: center;

  .handle {
    position: absolute;
    border-radius: 50%;
    background: white;
    padding: 3px;
    z-index: 3;
    transform: translateX(0);

    &:hover {
      transform: scale(2);
      transition: 0.2s transform ease-out;
    }
  }
}