.line-slider {
  position: relative;
  margin-top: 10px;
  min-height: 8px;
  cursor: pointer;
  width: 100%;
  z-index: 4;

  .handle {
    position: absolute;
    border-radius: 50%;
    background: white;
    padding: 3px;
    z-index: 3;
    transform: translateX(0);
    top: -1px;

    &:hover {
      transform: scale(2);
      transition: 0.2s transform ease-out;
    }
  }

  .rc-progress-line {
    position: absolute;
  }
}