@import '~normalize.css/normalize.css';
@import './scss/utils/mixins.scss';
@import './scss/utils/variables.scss';
@import './scss/base/base.scss';
@import './scss/components/sidebar.scss';
@import './scss/components/main-content.scss';